.navbar-brand {
    display: flex;
    align-items: baseline;
}

.navbar-brand img {
    height: 56px;
    margin-right: 10px;
    position: relative;
    top: 6px;
}

.card-title {
    min-height: 54px;
}

.cuisines {
    min-height: 50px;
}

.shimmer-container .card {
    height: 350px;
    background-color: #F0F0F0
}

.area-name {
    min-height: 50px;
}

.footer-logo-anchor {
    text-decoration: none;
    color: #EEE;
}

.navbar-nav a {
    text-decoration: none;
    color: #EEE;
    padding: 0 10px;
}

.restaurant-card-wrap>a {
    text-decoration: none;
}